<aside class="aside">
    <a href="#" class="logo"><img src="../img/logo.svg" alt="" /></a>
    <ul class="menu">
        <li>
            <a class="menu-ico1" href="#">
                <span> Главная </span>
            </a>
        </li>
        <li><a class="menu-ico2" href="#"><span>Задачи</span></a></li>
        <li><a class="menu-ico3" href="#"><span>Компания</span></a></li>
        <li><a class="menu-ico4" href="#"><span>Календарь</span></a></li>
        <li><a class="menu-ico5" href="#"><span>Настройки</span></a></li>
    </ul>
</aside>