<div class="main-wrap-top">
    <form action="/" class="form-search" method="POST">
        <input type="search" placeholder="Поиск">
    </form>
    <a href="javascript:void(0);" class="btn-search"></a>
    <a href="#" class="logo"><img src="../img/logo.svg" alt=""></a>
    <a id="hamburger-icon" href="javascript: void(0);" title="Menu"><span class="line line-1"></span><span class="line line-2"></span><span class="line line-3"></span></a>
    <div class="profile">
        <div class="profile-name">
            <div class="user-name">User Name</div>
            <div class="user-post">разработчик</div>
        </div>
        <div class="profile-avatar">
            <img src="../img/avatar.jpg" alt="">
        </div>
    </div>

</div>