<div class="popup_wrap" id="popup_wrap_client">
    <div class="popup popup-client" id="popup-client">
        <a href="javascript:void(0);" class="popup-close"></a>
        <div class="title">Добавление нового клиента</div>
        <form action="/" class="form-popup">
            <div class="form-popup-item">
                <label for="">Имя</label>
                <input type="text" value="Афанасий">
            </div>
            <div class="form-popup-item">
                <label for="">Электронная почта</label>
                <input type="e-mail" value="afanasiy@gmail.com">
            </div>
            <button type="submit">Создать клиента</button>
        </form>
    </div>
</div>

<div class="popup_wrap" id="popup_wrap_project">
    <div class="popup popup-project" id="popup-project">
        <a href="javascript:void(0);" class="popup-close"></a>
        <div class="title">Добавление нового проекта</div>
        <form action="/" class="form-popup">
            <div class="form-popup-item">
                <label for="">Название:</label>
                <input type="text" value="VW">
            </div>
            <div class="form-popup-item">
                <label for="">Ссылка на ресурс:</label>
                <input type="e-mail" value="https://vw-ring.ru/models/">
            </div>
            <button type="submit">Создать проект</button>
        </form>
    </div>
</div>